.profile{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     visibility: hidden;
    width: 10rem;
    height: 5rem;
    background-color: white;
    transition: all .8s;

    @media (max-width:2000px) {
        top: 6rem;
        left: 14rem;
    }
    @media (max-width:1500px) {
        top: 4rem;
        left: 10rem;
    }
    @media (max-width:1200px) {
        top: 4rem;
        left: 8.5rem;
        width: 8rem;
        height: 4rem;
    }
    @media (max-width:900px) {
        top: 3rem;
        left: 5.5rem;
        width: 7rem;
        height: 3rem;
    }
 
    &_logout{
     
        padding: 5px;
        width: 100%;
        font-size: large;
        font-weight: bold;
    }
 
}
.profile_container{
    position: relative;
    &:hover .profile{
        visibility: visible;
       }
}

